doctype html
html(lang="en")
  head
    title pageTitle
  body
    h1 Jade - node template engine
    #container
        img(src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2009919018,1419158906&fm=58&u_exp_0=1442885403,1085853496&fm_exp_0=86&bpow=468&bpoh=594" alt="美女") 
        a(href="http://www.baidu.com") 百度
        h2 杨俊宁成功了
