doctype html
html(lang="en")
  head
    title pageTitle
  body
    h1 Jade - node template engine
    #container
      a(href="http://www.baidu.com") 百度
      h2 试试
      .aim ss
        #aim 萨达 
