/* 公共样式 */

/* 样式重置 */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* 去除移动端特有的点击高亮的效果*/
}

body {
  font-family: 'Microsof Yahei', sans-serif;
}

li, ol, ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a,a:link {
  text-decoration: none;
}

i {
  cursor: pointer;
}

/* 新样式 */
.fll {
  float: left;
}

.flr {
  float: right;
}

/* 清除浮动：作用于子元素 */
.clear {
  clear:both;
}

/* 作用域父元素 */
.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

/* 兼容IE6 7 */
.clearfix {
  zoom:1;
}
