# Your snippets
#
######
#.text.html.php
######
'.text.html.php':
  '数据库连接':
    'prefix': 'mysqli'
    'body': 'mysqli($host,$user,$pass,$database);';
  # PATHINFO
  'pathinfo_dirname':
    'prefix': 'dirname'
    'body': 'PATHINFO_DIRNAME';
  'pathinfo_basename':
    'prefix': 'basename'
    'body': 'PATHINFO_BASENAME';
  'pathinfo_basename':
    'prefix': 'basename'
    'body': 'PATHINFO_BASENAME';
  'pathinfo_extension':
    'prefix': 'extension'
    'body': 'PATHINFO_EXTENSION';
  'pathinfo_filename':
    'prefix': 'filename'
    'body': 'PATHINFO_FILENAME';
######
#.text.md
######
'.text.md,.text.html,.text.html.php':
  '杨俊宁':
    'prefix': 'yjn'
    'body': '\'杨俊宁\'';
  '代码之光':
    'prefix': 'wake'
    'body': 'http://wakeuptocode.me/';
  '道格拉斯·克罗克福特':
    'prefix': 'dc'
    'body': 'Douglas Crockford';
  '图床':
    'prefix': 'cdn'
    'body': 'http://cdn.wakeuptocode.me$1'
'.text.md':
  'Read More':
    'prefix': 'more'
    'body': '<!-- more -->';
  '图片处理样式':
    'prefix': 'qiniu'
    'body': 'imageView2/2/h/300/q/100|watermark/2/text/5Luj56CB5LmL5YWJ/font/5b6u6L2v6ZuF6buR/fontsize/300/fill/I0VGRUZFRg==/dissolve/100/gravity/SouthEast/dx/10/dy/10';
  '图床':
    'prefix': 'cdn'
    'body': 'http://cdn.wakeuptocode.me$1'
# # # #
# .html
# # # #

# # # #
# <script></script>
# # # #
'source.js.embedded.html':
  # JavaScript
  'fori':
    'prefix': 'fori'
    'body': 'for(var i = 1; i <= ${1:expression}; i++){\n\t${2:expression};\n}'

  'forj':
    'prefix': 'forj'
    'body': 'for(var j = 1;j<=${1:expression};j++){\n\t${2:expression};\n}'

  'getElementById':
    'prefix': 'dg'
    'body': 'document.getElementById(\'$1\');'

  'getElementsByClassName':
    'prefix': 'dgc'
    'body': 'document.getElementsByClassName(\'$1\');'

  'getElementsByTagName':
    'prefix': 'dgt'
    'body': 'document.getElementsByTagName(\'$1\');'

  'document.createElement':
    'prefix': 'dce'
    'body': 'document.createElement(\'$1\')'

  'document.createTextNode':
    'prefix': 'dct'
    'body': 'document.createTextNode(\'$1\')'

  '函数表达式 Function Expression':
    'prefix': 'fe'
    'body': '(function() {\n\tfunction Class() {\n\t\t$1\n\t}\n\treturn Class;\n}());'

  '匿名函数 Anonymous Function':
    'prefix': 'fa'
    'body': 'function() {\n\t$1\n}'

  # jQuery
  '$(\'\')':
    'prefix': 'js'
    'body': '$(\'$1\')';

  '$(fn)':
    'prefix': 'jf'
    'body': '$(function () {\n\t$1\n});';

  '$(this)':
    'prefix': 'jt'
    'body': '$(this)$1';

# # # #
# <style></style>
# # # #
'source.css.embedded.html':
  # CSS
  'CSS样式初始化':
    'prefix':'reset'
    'body':'*,*::before,*::after{\n\tmargin:0;\n\tpadding:0;\n\t-webkit-box-sizing: border-box;\n\t-moz-box-sizing: border-box;\n\tbox-sizing: border-box;\n\t-webkit-tap-highlight-color:transparent;\n}';

  '微软雅黑':
    'prefix':'yahei'
    'body':'"Microsof Yahei"';

# # # #
# .css
# # # #
'.source.css':
  'CSS样式初始化':
    'prefix':'reset'
    'body':'*,*::before,*::after{\n\tmargin:0;\n\tpadding:0;\n\t-webkit-box-sizing: border-box;\n\t-moz-box-sizing: border-box;\n\tbox-sizing: border-box;\n\t-webkit-tap-highlight-color:transparent;\n}';

  '微软雅黑':
    'prefix':'yahei'
    'body':'"Microsof Yahei"';
# # # #
# .js
# # # #
'.source.js':

  # JavaScript
  'alert()':
    'prefix': 'al'
    'body': 'alert(\'$1\');'
  'console.log()':
    'prefix': 'cl'
    'body': 'console.log(\'$1\');'
  'fori':
    'prefix': 'fori'
    'body': 'for(var i = 1; i <= ${1:expression}; i++){\n\t${2:expression};\n}'

  'forj':
    'prefix': 'forj'
    'body': 'for(var j = 1;j<=${1:expression};j++){\n\t${2:expression};\n}'

  'getElementById':
    'prefix': 'dg'
    'body': 'document.getElementById(\'$1\');'

  'getElementsByClassName':
    'prefix': 'dgc'
    'body': 'document.getElementsByClassName(\'$1\');'

  'getElementsByTagName':
    'prefix': 'dgt'
    'body': 'document.getElementsByTagName(\'$1\');'

  'document.createElement':
    'prefix': 'dce'
    'body': 'document.createElement(\'$1\')';

  'document.createTextNode':
    'prefix': 'dct'
    'body': 'document.createTextNode(\'$1\')';

  '函数表达式 Function Expression':
    'prefix': 'fe'
    'body': '(function() {\n\tfunction Class() {\n\t\t$1\n\t}\n\treturn Class;\n}());'

  '匿名函数 Anonymous Function':
    'prefix': 'fa'
    'body': 'function() {\n\t$1\n}'

  'application/x-www-form-urlencoded':
    'prefix': 'form'
    'body': '\'application/x-www-form-urlencoded\''

  'multipart/form-data':
    'prefix': 'file'
    'body': '\'multipart/form-data\''

  'CanvasRenderingContext2D':
    'prefix': 'ctx'
    'body': 'var cas = document.getElementById(\'${1:canvas}\');\nvar ctx = cas.getContext(\'${2:2d}\');\n$3'

  # jQuery
  '$(\'\')':
    'prefix': 'js'
    'body': '$(\'$1\')';

  '$(fn)':
    'prefix': 'jf'
    'body': '$(function () {\n\t$1\n});';

  '$(this)':
    'prefix': 'jt'
    'body': '$(this)$1';

  '$.ajax(jsonp)':
    'prefix': 'jsonp'
    'body': "\$.ajax({\n\turl: \'${1:/path/to/file}\',\n\tdataType: \'${2:jsonp}\',\n\tjsonp: \'${3:callback}\',\n\tjsonpCallback:\'${4:handleResponse}\',\n\tdata: {${5:param1}: \'${6:value1}\'},\n\tsuccess:function(data){\n\t\t${7://\tcode me}\n\t},\n\terror:function(jqXHR){\n\t\t${7:alert('发生错误：' + jqXHR.status);}\n\t}\n});"
